{% extends 'account/base.html' %}
{% block title %} {{story.title}} {% endblock %}
{% load staticfiles %}
{% load i18n widget_tweaks %}

  
            
    
        
{% block content %}
<div class="container">
{% if perms.stories.add_stories %}
    <a class="text-warning links-sm" href="{% url 'editstory' story_detail.id %}">Edit &nbsp;</a>
    <a class="text-warning links-sm" href="{% url 'addstory' story_detail.id %}">Add</a>
    {% endif %}
    {{ story_detail.media }}
    <h1 class="pt-3 text-center animated fadeInLeftBig title" >{{ story_detail.title }}</h1>

    <div class="row">
        <div class="col-sm-4">
          {% if story.has_previous %}
            <a class="text-warning links-sm-sm" href="?page=1">&laquo;&laquo;First &nbsp;&nbsp;&nbsp;</a>
            <a class="text-warning links-sm-sm" href="?page={{ story.previous_page_number }}">&laquo;Previous</a>
          {% endif %}
        </div>

        <div class="col-sm-4 text-center">
          <span class="current text-light">
          Page {{ story.number }} of {{ story.paginator.num_pages }}.
          </span>
        </div>
        <div class="col-sm-4 text-right">
          {% if story.has_next %}
            <a class="text-warning links-sm-sm" href="?page={{ story.next_page_number }}">Next&raquo;&nbsp;&nbsp;&nbsp;</a>
            <a class="text-warning links-sm-sm" href="?page={{ story.paginator.num_pages }}">Last &raquo;&raquo;</a>
          {% else %}
          {% endif %}
        </div>
    </div>
    <br>
    
    {% if story_detail.image %}
    <img class="img-fluid animated fadeInRight" src="{{ story_detail.image.url }}" height="400" width="400">
    <br>
    {% else %}
    <p>.</p>
    {% endif %}

    <br>
      <div class="text-white animated fadeInLeftBig">
        <div class="stories">
        {% for st in story %}
    {{ st |safe }}
    {% endfor %}
    <br>
    <br>
  </div>
<div class="row">
        <div class="col-sm-4">
          {% if story.has_previous %}
            <a class="text-warning links-sm" href="?page=1">&laquo;First &nbsp;</a>
            <a class="text-warning links-sm" href="?page={{ story.previous_page_number }}">Frevious</a>
          {% endif %}
        </div>
        <div class="col-sm-4 text-center">
          <span class="current text-white">
          Page {{ story.number }} of {{ story.paginator.num_pages }}.
          </span>
        </div>
        <div class="col-sm-4 text-right">
          {% if story.has_next %}
            <a class="text-warning links-sm" href="?page={{ story.next_page_number }}">Next&nbsp;</a>
            <a class="text-warning links-sm" href="?page={{ story.paginator.num_pages }}">Last &raquo;</a>
             {% endif %}
             </div>
             <br>
             <br>
          </div>
          <div>
            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-show-count="false"></a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

           

  <!-- Your share button code -->
            
            
            <br>
          </div>
        <div id="shareBtn" class="btn btn-success clearfix">Share Dialog</div>
    
          
          <div class="fb-share-button" 
           data-href="{{ request.build_absolute_uri }}{{ object.get_absolute_url }}" 
            data-layout="button_count">
           </div>


          <div>
            <br>
            <a class="twitter-share-button"
              href="https://twitter.com/intent/tweet?text={{ story_detail.title }}&url={{ request.build_absolute_uri }}{{ object.get_absolute_url }}"
              data-size="large" target="_blank">
              Tweet</a>
            <br>
            
            <br>
            <br>
          {% if story.has_next %}
          
          {% else%}
          {% if child_stories %}
          <p class="title-sm"> Choose Path:</p>
          {% endif %}
        {% for stories in child_stories %}
        <a class="btn btn-outline-warning mb-3" href="{% url 'story' stories.id %}" role="button" >{{ stories.title }}</a> &nbsp; &nbsp;
      {% endfor %}
      {% endif %}
    </div>
         
       
    

    

  </div>
  

    
  
    
  </div>
          
  
    
    

  <script type="text/javascript">
    document.getElementById('shareBtn').onclick = function() {
  FB.ui({
    client_id:'327939761408427',
    display: 'popup',
    method: 'share',
    href: '{{ request.build_absolute_uri }}{{ object.get_absolute_url }}',
  }, function(response){});
}

  </script>
  
  
 

{% endblock %}
